.header-wrapper {
  width: 95%;
  min-width: 1024px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 700px;
}

.header__line {
  display: flex;
  flex-direction: row;
  padding: 25px 0;
}

.header__logo {
  width: 25%;
  
  & p {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    line-height: 45px;
    color: #ffffff;
    cursor: pointer;
    transition: color .3s;
    
    &:hover {
      color: #d1fff1;
      }
  }
}

.header__menu {
  width: 70%;
}


.header__title {
  text-align: center;
  padding-top: 220px;
  width: 800px;
  margin: 0 auto;
  
  & h1 {
    display: block;
    padding: 30px;
    width: 575px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 5px solid #ffffff;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.header__subtitle {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
}
